# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# IDE specific files
.vscode/
.idea/

# Operating System specific files
.DS_Store
Thumbs.db

# Virtual environments
.venv/
env/
venv/
venv.bak/
venv.old/

# Python package manager specific (uncomment if you wish to ignore lock files)
# poetry.lock
# pdm.lock
.pdm-python/
.rye/

# Tool caches
.ruff_cache/
.mypy_cache/

# Custom project output / temporary files
*.log
*.tmp
*.temp
syn_out/
checkpoints/
.gradio/